/* List */

ul {
  list-style: disc;
  padding-left: 1em;
}

  ul li {
    padding-left: 0.5em;
  }

ol {
  list-style: decimal;
  padding-left: 1.25em;
}

  ol li {
    padding-left: 0.25em;
  }


  
/* Item */

	.item {
		box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
		margin-bottom: 40px;
	}

		.item header {
			background: #fff;
			margin: 0;
			padding: 1em 0 1em 0;
			font-size: 0.8em;
		}

			.item header h3 {
				font-size: 1em;
			}